.progress-bar button {
  margin: 25px 0 !important; }

.progress-bar.purple-stepper .action-container {
  margin: auto;
  width: 100%; }

.progress-bar.purple-stepper .action-container .btn-container {
  margin: auto;
  width: 85%; }

.progress-bar.purple-stepper .action-container .btn-container .custom-styled-btn {
  box-shadow: none;
  background: #54c159;
  background: -moz-linear-gradient(top, #54c159 0%, #3e9a42 100%);
  background: -webkit-linear-gradient(top, #54c159 0%, #3e9a42 100%);
  background: linear-gradient(to bottom, #54c159 0%, #3e9a42 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54c159', endColorstr='#3e9a42',GradientType=0 );
  border: 1px solid #54C159;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 70px;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s; }

.progress-bar.purple-stepper .completed-line {
  border: 1px solid #9e7aaf; }

.progress-bar.purple-stepper .completed-line span {
  border: 1px solid #9e7aaf; }

.progress-bar.purple-stepper .active-line {
  border: 1px solid #9e7aaf; }

.progress-bar.purple-stepper .active-line span {
  border: 1px solid #9e7aaf; }

.progress-bar.purple-stepper .disabled-line {
  border: 1px solid #b1cfda; }

.progress-bar.purple-stepper .disabled-line span {
  border: 1px solid #b1cfda; }

.progress-bar.purple-stepper .line-color {
  border: 1px solid #b1cfda; }

.progress-bar.purple-stepper .line-color span {
  border: 1px solid #b1cfda; }

.progress-bar .stepper-container {
  background: #DAF5FF; }

.progress-bar .stepper-container svg {
  color: #8b659d; }

.step-container .images-container {
  display: inline; }

.step-container .images-container img {
  width: 50%; }

.step-container button {
  margin-top: 20px; }

.step-container.second-step .images-container {
  background: #fff;
  width: 100%;
  text-align: center;
  border-top: 4px solid #9e7aaf !important; }

.step-container.second-step .images-container img:last-child, .step-container.second-step .images-container img.logo {
  float: none !important;
  margin: auto; }

.step-container.second-step .notification-bar {
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  padding-left: 4px;
  font-family: Open Sans, Helvetica Neue, Arial, sans-serif; }

.step-container.third-step .notification-bar {
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  padding-left: 4px;
  font-family: Open Sans, Helvetica Neue, Arial, sans-serif; }

.step-container.purple-notification .notification-bar {
  background: #9e7aaf;
  background: -moz-linear-gradient(top, #9e7aaf 0, #8b659d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9e7aaf), color-stop(100%, #8b659d));
  background: -webkit-linear-gradient(top, #9e7aaf 0, #8b659d 100%);
  background: -o-linear-gradient(top, #9e7aaf 0, #8b659d 100%);
  background: -ms-linear-gradient(top, #9e7aaf 0, #8b659d 100%);
  background: linear-gradient(to bottom, #9e7aaf 0, #8b659d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e7aaf',endColorstr='#8b659d',GradientType=0);
  padding: 10px 10px;
  color: #fff;
  margin-top: -4px; }

.step-container.purple-notification .notification-bar .rate-container {
  background: #8a659c;
  padding: 5px;
  margin-top: 5px; }

.step-container.purple-notification .notification-bar .rate-container span {
  vertical-align: middle;
  font-size: 16px;
  padding-left: 4px;
  font-family: Open Sans, Helvetica Neue, Arial, sans-serif; }

.step-container.purple-notification .notification-bar .rate-container i {
  color: #ffcc00;
  vertical-align: middle; }

.step-container.purple-notification .notification-bar .confirm-label {
  padding: 10px 0;
  font-size: 17px;
  line-height: 1.2em;
  font-family: Open Sans, Helvetica Neue, Arial, sans-serif; }

.step-container.purple-notification .notification-bar:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #8a649c;
  position: absolute;
  left: 45px;
  top: 375px; }

.step-container.purple-notification .title-container {
  margin-bottom: 30px; }

.step-container.purple-notification .title-container h1 {
  font-size: 22px;
  padding: 0px 10px;
  text-align: center;
  line-height: 1.2em;
  font-family: Open Sans, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
  margin-top: 0; }

.step-container.purple-notification .images-container {
  display: inline-block;
  max-width: 100%;
  height: 112px;
  overflow: hidden;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac; }

.step-container.purple-notification .images-container img:first-child {
  float: left;
  width: 30%; }

.step-container.purple-notification .images-container img:last-child {
  float: left;
  width: 70%; }
