.step-container {
    .images-container {
        display: inline;
        img { 
            width: 50%;
        }
    }

    &.purple-notification {

        .notification-bar {
            background: #9e7aaf;
            background: -moz-linear-gradient(top,#9e7aaf 0,#8b659d 100%);
            background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#9e7aaf),color-stop(100%,#8b659d));
            background: -webkit-linear-gradient(top,#9e7aaf 0,#8b659d 100%);
            background: -o-linear-gradient(top,#9e7aaf 0,#8b659d 100%);
            background: -ms-linear-gradient(top,#9e7aaf 0,#8b659d 100%);
            background: linear-gradient(to bottom,#9e7aaf 0,#8b659d 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e7aaf',endColorstr='#8b659d',GradientType=0);
            padding: 10px 10px;
            color: #fff;
        }

        .images-container {
            display: inline-block;
            img:first-child {
                float: left;
                width: 30%;
            }
            img:last-child {
                float: left;
                width: 70%;
            }
        }
        
    }
}